.about-wrapper {
  display: flex;
  padding-top: 100px;
  background-color: $PrimaryBackground;
  height: 100vh;
  width: 100vw;

  .intro-content {
    display: grid;
    width: 50vw;
    padding: 30px;
    background-color: $IntroContentBackground;
  }

  .experience-wrapper {
    display: grid;
    padding: 30px;
    width: 50vw;
  }
}
