.about-wrapper {
  display: flex;
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap; 

  .intro-content {
    display: grid;
    width: 50vw;
    padding: 30px;
  }

  .experience-wrapper {
    display: grid;
    padding: 30px;
    width: 50vw;
  }
}
