.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .intro-content {
    display: grid;
    width: 50vw;
    padding: 30px;
  }

  .experience-wrapper {
    display: grid;
    padding: 30px;
    width: 50vw;
  }
}
