* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $PrimaryFontFamily, Helvetica, sans-serif, Arial;
  color: #fff;
  background-color: $PrimaryBackground;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  background-color: $PrimaryBackground;
  max-width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

.string {
  color: $StringColor;
}

.function {
  color: $FunctionColor;
}

.function:hover {
  color: $ActiveFunctionColor;
  .string {
    color: $ActiveStringColor;
  }
}
