.project-wrapper {
  display: grid;
  padding: 100px 30px 100px;
  background-color: $PrimaryBackground;
  width: 100vw;
  height: 100vh;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
