.root-wrapper {
  padding-top: 50px;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 60vh 40vh;
}

.text {
  display: grid;
  padding: 20px;
  margin: 0;
  justify-self: center;
  font-weight: 500;
}

.canvas {
  padding: 20px;
  align-self: center;
  justify-self: center;
  margin: 0;
}

.intro {
  font-size: $TitleHelloHeaderFontSize;
}

.greeting {
  font-size: $TitleHelloHeaderFontSize;
  color: $GreetingColor;
}

.name {
  font-size: $TitleNameHeaderFontSize;
  color: $NameColor;
}

.down-arrow {
  color: aqua;
}

.chip {
  justify-self: center;
  
}

.chip-design{
  color: #a9dc76;
}
// .terminal{
//   background-color: $TerminalColor;
//   padding-right: 5px;
//   padding-left: 5px;
//   border-radius: 10px;
//   margin-right: 10px;
// }
