.skill-wrapper {
  display: grid;
  padding: 100px 30px 100px;
  background-color: $PrimaryBackground;
  width: 100%;
  height: 100vh;
}

.skill-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  grid-gap: 1rem;
  .skill-items {
    width: 50vw;
  }

  .radar-graph {
    width: 50vw;
  }
}
