//imports
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

// color theme for text
$StringColor: #e4bf7a;
$FunctionColor: #60aded;
$ActiveFunctionColor: #9772fb;
$ActiveStringColor: #fc9867;
$NameColor: #aa9cf1;
$GreetingColor: #f8d163;
$TerminalColor: #FC9867;
$SuccessColor:#68B984;
$SuccessHoverColor:#7ad89b;
$FailureColor:#CF0A0A;

// $VariableColor:;

// color theme  for background
$PrimaryBackground: #282c34;
$IntroContentBackground:#1e2128;

//font-size
$PrintHeaderFontSize: 1.25rem;
$TitleNameHeaderFontSize: 4vw;
$TitleHelloHeaderFontSize: 3vw;

//font-family
$PrimaryFontFamily: "Poppins";
