@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif, Arial;
  color: #fff;
  background-color: #282c34;
  font-size: 20px;
}

.wrapper {
  background-color: #282c34;
  max-width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: scroll;
  scroll-behavior: smooth;
}
.content .content-data {
  scroll-snap-align: end;
}

a {
  text-decoration: none;
}

.string {
  color: #e4bf7a;
}

.function {
  color: #60aded;
}

.function:hover {
  color: #9772fb;
}
.function:hover .string {
  color: #fc9867;
}

h1 {
  font-size: 30px;
}

nav {
  background-color: #282c34;
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
}
nav .print-header {
  padding-left: 10px;
  font-size: 1.25rem;
}
nav .print-header:hover {
  color: #60aded;
}
nav .print-header:hover .string {
  color: #e4bf7a;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  margin-left: 20px;
}
nav ul li .github {
  margin-left: -10px;
  filter: opacity(80%);
  color: #60aded;
}
nav ul li .linkedin {
  filter: opacity(80%);
  color: #60aded;
}

li {
  list-style-type: none;
}

.github:hover {
  color: #9772fb;
}

.linkedin:hover {
  color: #9772fb;
}

.root-wrapper {
  padding-top: 50px;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: 60vh 40vh;
}

.text {
  display: grid;
  padding: 20px;
  margin: 0;
  justify-self: center;
  font-weight: 500;
}

.canvas {
  padding: 20px;
  align-self: center;
  justify-self: center;
  margin: 0;
}

.intro {
  font-size: 3vw;
}
.intro .iam {
  font-size: 36px;
}

.greeting {
  font-size: 3vw;
  color: #f8d163;
}

.name {
  font-size: 4vw;
  color: #aa9cf1;
}

.down-arrow {
  color: aqua;
}

.chip {
  justify-self: center;
}

.chip-design {
  color: #a9dc76;
}

.detail-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  align-items: center;
}
.detail-wrapper .detail-content {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100%;
  padding: 30px;
  justify-content: center;
  gap: 50px;
}
.detail-wrapper .detail-content .about-image {
  padding: 50px 0px;
}
.detail-wrapper img {
  width: 500px;
  height: 500px;
}

.project-wrapper {
  display: grid;
  padding: 100px 30px 100px;
  background-color: #282c34;
  width: 100%;
  height: 100vh;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.contact-wrapper {
  display: grid;
  padding: 100px 30px 100px;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
.contact-wrapper .contact-form {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
}
.contact-wrapper .contact-form input,
.contact-wrapper .contact-form textarea {
  color: black;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}
.contact-wrapper .contact-form .button-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.contact-wrapper .contact-form #submit-button {
  width: 200px;
  height: 50px;
  background-color: #68B984;
  border: none;
  color: #153462;
}
.contact-wrapper .contact-form #submit-button:hover {
  background-color: #7ad89b;
}

.skill-wrapper {
  display: grid;
  padding: 100px 30px 100px;
  background-color: #282c34;
  width: 100%;
  height: 100vh;
}

.skill-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  grid-gap: 1rem;
}
.skill-content .skill-items {
  width: 50vw;
}
.skill-content .radar-graph {
  width: 50vw;
}/*# sourceMappingURL=style.css.map */